//Color
$font-color: #292c2c;
$font-color-light: #808080;

//Font Style
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;

@mixin respond($breakpoint) {
  @if $breakpoint == port-phn {
    @media only screen and(max-width: 480px) {
      @content; //320px - 479px
    }
  }

  @if $breakpoint == lan-phn {
    @media only screen and(max-width: 576px) {
      @content; //480px - 575px
    }
  }

  @if $breakpoint == port-tab {
    @media only screen and(max-width: 768px) {
      @content; //576px - 767px
    }
  }

  @if $breakpoint == lan-tab {
    @media only screen and(max-width: 992px) {
      @content; //768px - 991px
    }
  }

  @if $breakpoint == desktop {
    @media only screen and(max-width: 1200px) {
      @content; //992px - 1199px
    }
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;

  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(lan-phn) {
    font-size: 50%;
  }

  @include respond(lan-tab) {
    font-size: 56.25%;
  }
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  font-family: $font-primary;
  color: $font-color;
  font-size: 1.6rem; //1rem = 10px
  line-height: 1.6;

  @include respond(desktop) {
    width: 1100px;
  }

  @include respond(lan-tab) {
    width: 800px;
  }

  @include respond(port-tab) {
    width: 600px;
  }

  @include respond(lan-phn) {
    width: 500px;
  }

  @include respond(port-phn) {
    width: 360px;
  }
}
