.gallery {
  margin: 8rem 7vw 2rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 40rem;
  grid-gap: 3rem;

  @include respond(phone) {
    margin-top: 1rem;
    height: 210rem;
    grid-template-rows: repeat(5, 40rem);
    grid-template-columns: none;
    grid-gap: 2rem;
  }

  &__pic1 {
    grid-column: 1 / 2;

    @include respond(phone) {
      grid-column: 1 / span 2;
      grid-row: 1 / 2;
    }

    background-image: url(../assets/pic1.jpeg);
    background-position: center;
    background-size: cover;
  }

  &__pic2 {
    grid-column: 2 / 3;

    @include respond(phone) {
      grid-column: 1 / span 2;
      grid-row: 2 / 3;
    }

    background-image: url(../assets/pic2.jpeg);
    background-position: center;
    background-size: cover;
  }

  &__pic3 {
    grid-column: 3 / 4;

    @include respond(phone) {
      grid-column: 1 / span 2;
      grid-row: 3 / 4;
    }

    background-image: url(../assets/pic3.jpeg);
    background-position: center;
    background-size: cover;
  }

  &__pic4 {
    grid-column: 4 / 5;

    @include respond(phone) {
      grid-column: 1 / span 2;
      grid-row: 4 / 5;
    }

    background-image: url(../assets/pic4.jpeg);
    background-position: center;
    background-size: cover;
  }

  &__pic5 {
    grid-column: 5 / 6;

    @include respond(phone) {
      grid-column: 1 / span 2;
      grid-row: 5 / 6;
    }

    background-image: url(../assets/pic5.jpeg);
    background-position: center;
    background-size: cover;
  }
}
