.hero {
  width: 93%;
  // margin-right: 7vw;
  position: relative;
  &__background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 62rem;

    @include respond(port-tab) {
      height: 98rem;
      display: grid;

      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
    }

    @include respond(lan-phn) {
      height: 91rem;
    }

    @include respond(port-phn) {
      height: 100rem;
    }

    &__left {
      grid-column: 1 / 2;

      @include respond(port-tab) {
        grid-row: 1 / 2;
      }

      background-image: url(../assets/hero-left.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 5% 0;
    }

    &__right {
      grid-column: 2 / -1;

      @include respond(port-tab) {
        grid-row: 2 / -1;
      }

      background-image: url(../assets/hero-right.jpeg);
      background-size: cover;
      background-position: center;
    }
  }

  &__heading-1 {
    font-family: $font-secondary;

    @include respond(lan-phn) {
      font-size: 5.7rem;
    }

    @include respond(port-phn) {
      font-size: 5.2rem;
    }
  }

  &__paragraph {
    font-family: $font-primary;
    font-size: 2.4rem;
    word-wrap: break-word;
    margin: 2rem 0;

    @include respond(port-phn) {
      font-size: 2rem;
    }
  }

  &__text {
    position: absolute;
    left: 49.5rem;
    right: 7rem;
    top: 13rem;
    word-wrap: break-word;
    border: 6px solid white;
    padding: 3rem 1rem 2rem;

    @include respond(lan-tab) {
      top: 5rem;
      left: 43.5rem;
      right: 3rem;
    }

    @include respond(port-tab) {
      top: 53rem;
      left: 7.5rem;
      right: 5rem;
    }

    @include respond(lan-phn) {
      top: 51rem;
      left: 5.5rem;
    }

    @include respond(port-phn) {
      top: 55rem;
    }
  }
}
