.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond(port-tab) {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }

  position: relative;

  &__left {
    grid-column: 1 / 2;

    @include respond(port-tab) {
      grid-row: 1 / 2;
    }

    background-color: #293333;

    .heading-5 {
      color: white;
      margin-top: 5rem;
      margin-left: 7vw;

      &:first-child {
        margin-top: 8rem;
      }
    }

    .para3 {
      margin-top: 2rem;
      margin-left: 7vw;
      margin-bottom: 2rem;
      font-style: italic;
      color: white;
      word-wrap: break-word;
      padding-right: 7rem;

      &:last-child {
        margin-bottom: 8rem;
      }
    }
  }

  &__right {
    grid-column: 2 / -1;

    @include respond(port-tab) {
      grid-row: 2 / -1;
    }

    @include respond(lan-phn) {
      height: 47rem;
    }

    background-color: #17cad0;
  }

  &__text {
    color: white;
    text-align: end;
    position: absolute;
    top: 19rem;
    right: 15rem;
    left: 59rem;

    @include respond(lan-tab) {
      top: 15rem;
      right: 5rem;
      left: 48rem;
    }

    @include respond(port-tab) {
      top: 76rem;
      left: 13rem;
    }

    @include respond(lan-phn) {
      left: 6rem;
    }

    @include respond(port-phn) {
      top: 82rem;
    }

    padding: 4rem 0;
    padding-right: 2rem;
    border: solid 5px white;

    &__heading-2 {
      color: white;
      margin-top: 3.5rem;
      margin-left: 2rem;

      @include respond(port-phn) {
        margin-top: -0.5rem;
        margin-left: 0;
      }
    }

    &__paragraph {
      font-size: 1.8rem;
      margin: 2rem 0 3.5rem 2rem;
    }
  }
}
