.tech {
  margin: 4rem 7vw;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;

  @include respond(lan-tab) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      't1 t2'
      't3 t4'
      't5 t6';
  }

  @include respond(port-tab) {
    grid-gap: 1.5rem;
  }

  @include respond(lan-phn) {
    grid-template-columns: none;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      't1'
      't2'
      't3'
      't4'
      't5';
  }

  &1 {
    grid-column: 1 / 2;

    @include respond(lan-tab) {
      grid-area: t1;
    }
  }

  &2 {
    grid-column: 2 / 3;

    @include respond(lan-tab) {
      grid-area: t2;
    }
  }

  &3 {
    grid-column: 3 / 4;

    @include respond(lan-tab) {
      grid-area: t3;
    }
  }

  &4 {
    grid-column: 4 / 5;

    @include respond(lan-tab) {
      grid-area: t4;
    }
  }

  &5 {
    grid-column: 5 / 6;

    @include respond(lan-tab) {
      grid-area: t5;
    }
  }

  &__heading-4 {
    font-size: 2rem;
    font-family: $font-secondary;
    font-weight: 400;
    margin: 2rem 0;
    line-height: 1.2;
  }

  &__fill {
    font-style: italic;
    word-wrap: break-word;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
